*{
  box-sizing: border-box;  
}

h1,h2,h3,h4,h5,h6{
  margin:0px;
}


.App {
  text-align: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  
}


.App-header {
  text-align: center;
  margin:0px;
  padding: 10px;
  color:white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
margin: 0px;
background-color: #F0386B;
-webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.18);
-moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.18);
box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.18);

}

.headerText{
  margin: 0px;
}

/*MY CSS*/

input{

padding: 10px 15px;
font-size: 20px;
border-radius: 0;
-webkit-appearance: none;
border: 1px solid black;
}

.userContainer{
  display:grid;

  max-height: 50vh;
  overflow: scroll;
  display: grid;
  grid-template-rows: repeat(auto-fill);
}

.tableHeader{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding:5px 0px;
}
.userRow{
  display: grid;
  font-size:12px;
  grid-template-columns: 3fr 1fr 1fr;
  background-color: lightgray;
  box-shadow: #282c34;
  margin:3px 0px;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
}

.avatarNameCont{
  grid-template-columns: 50px 2fr;
}

.avatarImg{
  align-self: center;
  align-content: start;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.userTitle{
  display: inline-block;
  font-size: 1rem;
  align-self: center;
}


.On{
  display:grid
}

.Off{
  display:none;
}

form{

  display:grid;
  grid-template-columns: 1fr;
  text-align: left;
  background-color: chocolate;
}

.addMemberBtn,.finishBtn,restartBtn{

  padding: 10px 15px;
  font-size: 20px;
  border-radius: 0;
  -webkit-appearance: none;
  border: 1px solid black;
  }

  .inputContainer{
    align-self: end;
  }

.bannerContainer{
display:grid;
align-items: end;
justify-content: center;
}

.closBtn{
  border:0px;
  padding:0px;
  position:absolute;
  right:0px;
  top:0px;
  font-size: 8px;
}

.removeMemberBtn{
  text-align: center;
  width: 50px;
  border: 1px solid black;
}



.splitterContainer{
  display: grid;
  height: 20vh;

}

.splitterContainer button{
  border: 1px solid #D3D3D3;
  background-color: #F0386B;
  
}
.splitterBtn{
    display: grid;
    grid-template-columns: 80px 1fr;

  
}

.splliterBtnTitle{
  letter-spacing: 3px;
  align-items: stretch;
  text-align: justify;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-align: center;

}

.splitterDescription{
  font-size: 10px;
  text-align: left;
  color: white;
  padding-left: 15px;
  border-left: 1px solid white;
  /* margin-left: 20px; */
  text-align: left;
  padding-left: 10px;
}

.monkey{
  width: 350px;
  height: 150px;
}


.hide{
  display: none;
}


.winnerBanner{
  align-self: center;
}



