@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  font-size: 1rem;
  --buttonsizes-text-: 1.5rem;
  --second-color:#ff2e8cf0;
}

*{
  box-sizing: border-box;  
  font-family: 'Roboto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  margin:0px;
}


.App {
  text-align: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  align-items: start;
  height: 100vh;
  
  
}




.App-header {
  text-align: center;
  margin:0px;
  padding: 10px;
  color:white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header{
margin: 0px;
background-color: #F0386B;
-webkit-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.18);
-moz-box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.18);
box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.18);

}

.headerText{
  margin: 0px;
}

/*MY CSS*/

input{

padding: 10px 15px;
font-size: 20px;
border-radius: 0;
-webkit-appearance: none;
border: 1px solid black;
}

.inputError{
  font-size: 0.5rem;
  color:var(--second-color);
  font-weight: bold;
  letter-spacing: 2px;
}

.userContainer{
  display:grid;
  overflow: scroll;
  display: grid;
  grid-template-rows: repeat(auto-fill);
}

.tableHeader{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  padding:5px 0px;
}


/*USER LIST*/
.grid{
  display: grid;
 grid-template-columns: 1fr;
 grid-template-rows:1fr;
 overflow: auto;

}

.tableHeader{
 display:grid;
 grid-template-columns: 3fr 1fr 1fr;
 background:var(--second-color);
 color:white;
 justify-items: center;
 text-transform: uppercase;
 font-weight: bold;
 
}
.tableData{
 display:grid;
 backdround:red;
 grid-template-columns: 3fr  1fr 1fr;
 border-bottom:1px solid rgba(240, 56, 107, 0.2);
 padding:8px 0px;
color:rgb(255, 25, 132);
 

}

.ImgNameCont{
justify-items: start;
padding-left:10px;
display:grid;
grid-template-columns:55px 1fr;
}

span img{
border-radius:50px;
width: 50px;
height: 50px;

}



span{

align-self: center;
text-align:center;


}

.tableData:nth-child(odd){
background-color:#F8E7ED;

}


.deleteButton{
font-size:var(--buttonsizes-text);
background-color:#F0386B;
color:white;
padding:5px;
border-radius:5px;
border:0px;
}




/*USER LIST*/

/*RENDER WINNER STYLE*/

.winnerBanner{
  self-align:center;
  padding: 15px 15px;
  /* text-align: justify; */
  letter-spacing: 2px;
  font-size:1rem;
}
.picAvatarl{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.looserPicRl{
  margin:0 auto;
  display: block;
  height: 180px;
  width: 180px;
}
.winnerText{
  padding-top:30px;
  font-size: 1.5rem;
  padding-top: 20px;
  color:#ff0274;
}

.budget{
  font-size: 1.3rem;
  font-weight: bold;
}


/*RENDER WINNER STYLE**/

/*
.userRow{
  display: grid;
  font-size:12px;
  grid-template-columns: 3fr 1fr 1fr;
  background-color: lightgray;
  box-shadow: #282c34;
  margin:3px 0px;
  padding: 10px 0px;
  align-items: center;
  justify-content: center;
}

.avatarNameCont{
  grid-template-columns: 50px 2fr;
}

.avatarImg{
  align-self: center;
  align-content: start;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.userTitle{
  display: inline-block;
  font-size: 1rem;
  align-self: center;
}


.On{
  display:grid
}

.Off{
  display:none;
}
*/

.inputContainer{
    
  overflow: scroll;
  align-self: end;
}

form{

  display:grid;
  grid-template-columns: 1fr;
  
  color:white;
  text-align: left;
  background-color: #f33469;
}
.formText{
  padding:10px 5px;
  
}
.addMemberBtn,.finishBtn,.restartBtn{

  padding: 10px 15px;
  font-size: var(--buttonsizes-text-);
  border-radius: 0;
  -webkit-appearance: none;
  color: white;
  text-transform: uppercase;
  background-color:#009E8D;
  letter-spacing: 1px;
  }

  .restartBtn{
    width: 100%;
    font-size:1.3rem;
    color:white;
    font-weight: bold;
    padding:20px 20px;
  }

.bannerContainer{
display:grid;
align-items: end;
justify-content: center;
border:1px solid #F8E7ED;
letter-spacing: 2px;
color: #ff0274;
padding: 10px;

}




.splitterContainer{
  display: grid;
  background-color: #ff328e;
  color:white

}

.splitterContainer button{
  border: 1px solid #D3D3D3;
  background-color: #F0386B;
  
  
}
.splitterBtn{
    display: grid;
    grid-template-columns: 80px 1fr;


  
}

.splliterBtnTitle{
  letter-spacing: 3px;
  align-items: stretch;
  text-align: justify;
  font-size: 12px;
  color: white;
  font-weight: bold;
  text-align: center;

}

.splitterDescription{
  text-align: left;
  color: white;
  border-left: 1px solid white;
  text-align: left;
  font-size: 0.7rem;
  padding: 10px;
}

.splitterDescription>span{
  text-decoration:underline  white;
  margin:5px;
}
.SpitterText{
  font-size: 1rem;
    padding: 5px;
}


.monkey{
  width: 350px;
  height: 150px;
}


.hide{
  display: none;
}


.winnerBanner{
  align-self: center;
}

.errorMessage{
  font-size: 0.9rem;
  letter-spacing: 2px;
  padding: 5px;
  color: #ff0274;
  font-weight: bold;
  align-self: center;

}

.returToHome{

}


